{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="p-3 p-md-5 m-md-3 text-center">
    <div class="p-lg-5 mx-auto my-5 bg-light">
        <p>
        Zaawansowana wyszukiwarka nieruchomości pozwala na znalezienie mieszkań oraz domów na wielu
        portalach na raz. Po podaniu parametrów wyszukiwania aplikacja wyśle zapytania do popularnych portali
        ogłoszeniowych z nieruchomościami i zwróci scalone wyniki.
        </p>
        <p>Dzięki temu możliwe jest porównanie
        wszystkich wyników i znalezienie najkorzystniejszej oferty.
        </p>
        <p>&nbsp</p>
        <p>
            Strona stworzona przez Adrian Czok
        </p>
    </div>
</div>
{% endblock %}