    <footer class="container py-5">
      <div class="row">
        <div class="col-4 col-md">
          <h5>Miasta</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'search' %}?city=1">Warszawa</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?city=2">Kraków</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?city=3">Łódź</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?city=4">Gdańsk</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?city=5">Katowice</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?city=6">Wrocław</a></li>
          </ul>
        </div>
        <div class="col-4 col-md">
          <h5>Nieruchomość</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'search' %}?type=1">Dom</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?type=2">Mieszkanie</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?type=3">Wynajem</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?type=4">Działki</a></li>
          </ul>
        </div>
        <div class="col-4 col-md">
          <h5>Strony</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'search' %}?site=1">Otodom.pl</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?site=2">Gratka.pl</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?site=3">Domiporta.pl</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?site=4">Olx.pl</a></li>
            <li><a class="text-muted" href="{% url 'search' %}?site=5">Nieruchomosci-online.pl</a></li>
          </ul>
        </div>
      </div>
    </footer>